/* import fonts and colours */
@import '_fonts';

/* styles */
.genre_box {
  left: 55px;
  display: none;
  position: absolute;
  
  .genre_list {
    //top: -82px;
    top: -94px;
    height: 70px;
    padding: 0;
    //width: 160px;
    //height: 36px;
    display: block;
    overflow-x: auto;
    margin: auto 0px;
    position: absolute;
    border-radius: 5px;
    white-space: nowrap;
    list-style-type: none;
    border: 1px solid $dark-colour;
    background-color: $background-colour;
    
    @media screen and (max-width: 522px) {
      width: 220px;
    }

    li {
      margin: 2px 5px;
      display: inline-block;
      
      &.selected {
        border: 1px solid $highlight-colour;
        box-shadow: 0 0 5px $highlight-colour;
      }
      
      img {
        width: 32px;
        height: 32px;
      }
      
      div {
        color: $dark-colour;
      }
    }
  }
  
  .pointer {
    width: 0;
    height: 0;
    top: -22px;
    left: 10px;
    position: absolute;
    
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $dark-colour;
  }
}