/* import fonts and colours */
@import '_fonts';

/* styles */
.foursquare-attribution {
  right: 0;
  top: 10px;
  width: 75px;
  font-size: 14px;
  position: absolute;
  text-align: center;
  color: $dark-colour;
  text-decoration: none;
  font-family: $font-family;
  
  span {
    img {
      width: 64px;
      margin-top: 5px;
    }
  }
}

.venue {
  text-align: justify;
  
  h3 {
    margin: 5px 0;
  }
  
  h4 {
    margin-bottom: 0;
  }
  
  &__categories {
    ul {
      margin: 0;
      padding-left: 10px;
      column-count: 3;
      
      li {
        margin-left: 10px;
      }
    }
  }
  
  &__split {
    width: 100%;
    display: inline-flex;
  }
  
  &__address {
    max-width: 50%;
    margin-right: 5em;
    
    p {
      margin: 0;
    }
  }
  
  &__times {
    max-width: 50%;
    
    ul {
      margin: 5px 0;
      padding-left: 0;
      
      li {
        list-style-type: none;
      }
    }
  }
  
  &__rating {
    margin-top: 10px;
  }
  
  .glyph-icon {
    width: 64px;
    height: auto;
    margin: 5px 10px;
    position: relative;
    
    &:hover, &:focus {
      cursor: help;
      
      .glyph-icon__tooltip {
        opacity: 0.9;
        display: block;
      }
    }
    
    &__tooltip {
      z-index: 1;
      opacity: 0;
      left: -1.5em;
      width: 120px;
      display: none;
      padding: 2px 5px;
      position: absolute;
      text-align: center;
      border-radius: 6px;
      color: $primary-colour;
      transition: opacity .6s;
      border: 1px solid $grey-colour;
      background-color: $background-colour;
      
      .arrow {
        top: -10px;
        left: 50px;
        position: absolute;
        border-bottom: 10px solid #808080;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }
    }
  }
  
  .social {
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 10px;
    border: 3px solid $primary-colour;
    
    &:hover, &:focus {
      outline: none;
      border-color: $highlight-colour;
      box-shadow: 0 0 10px $highlight-colour;
    }
    
    a {
      display: block;
      cursor: pointer;
      color: $dark-colour;
      text-decoration: none;
      
      span {
        display: block;
      }
    }
    
    &__brand {
      width: 32px;
    }
  }
}