/* import fonts and colours */
@import '_fonts';

/* styles */
.page-header {
  margin: 20px;
  text-align: center;

  &__logo {
    width: 100%;
    max-width: 25rem;
  }
}

.summary {
  width: 100%;
  max-width: 800px;
  font-weight: 300;
  display: inline-block;

  &__bottom-row {
    padding: 5px;
    font-size: 20px;
    //margin: auto 1em;
    //border: 1px solid $dark-colour;
    
    .summary_location {
      float: left;
      padding: 8px 0;
    }
  }

  &__title {
    font-size: 20px;
    margin: 1ex auto;
    text-align: left;
  }

  &__location {
    float: left;
    padding: 1rem 0;
  }

  &__button {
    border: none;
    opacity: 0.7;
    padding: 2px;
    background: none;

    &:hover {
      opacity: 1;
    }

    &__icon {
      width: 2rem;
      float: right;
    }
    
    &__edit {
      margin-left: 10px;
    }
  }

  &__reshuffle {
    float: right;
    border: none;
    opacity: 0.9;
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    color: $light-colour;
    font-family: $font-family;
    background-color: $dark-colour;
    
    &:hover {
      opacity: 1;
      outline: none;
      box-shadow: 0 0 10px $dark-colour;
      background-color: $dark-colour;
    }

    &__icon {
      /*$intendedWidth: 0.8em;
      $sidePadding: 0.4em;
      width: 0.8em + (2 * $sidePadding);
      padding: 0 $sidePadding;*/
    }
  }
}

.container {
  margin: 0 20px;
  text-align: center;
}

.textbox {
}


#itinerary_container {
  width: 100%;
  display: inline-block;
}

.slot {
  display: flex;
  padding: 1rem;
  cursor: pointer;
  max-width: 600px;
  margin: 1rem auto;
  align-items: center;
  border-radius: 10px;
  color: $light-colour;
  font-family: $font-family;
  background: $primary-colour;

  %slot-button {
    opacity: 0.9;
    padding: 0.25rem;

    &:hover {
      opacity: 1;
    }
  }

  %arrow {
    @extend %slot-button;
  }

  &__title {
    flex-grow: 1;
    float: left;
  }

  &__genre-button {
    @extend %slot-button;
    float: left;
    width: 32px;
  }

  &__pin-button {
    @extend %slot-button;
    float: right;
  }

  &__left-arrow {
    @extend %arrow;
    float: left;
  }

  &__right-arrow {
    @extend %arrow;
    float: right;
    order: 1;
  }
}

.button {
    border: 0;
    color: $light-colour;
}

/* travel node styles */
.travel {
  //display: none;
  display: inline-flex;
  
  &__mode {
    order: 1;
    font-size: 15px;
    line-height: 30px;
  }
    
  select {
    &:focus {
      outline: none;
      border-color: $primary-colour;
      box-shadow: 0 0 10px $primary-colour;
    }
  }
  
  &__node {
    order: 2;
    width: 32px;
    height: 32px;
    margin: 0 15px;
    cursor: pointer;
    fill: $dark-colour;
    stroke: $dark-colour;
    stroke-miterlimit: 10;
      
    &:hover {
      //fill: $primary-colour;
      fill: $background-colour;
      stroke: $highlight-colour;
    }
  }
  
  &__time {
    order: 3;
    font-size: 20px;
    line-height: 30px;
  }
  
  /*&__mode, &__time {
    font-size: 20px;
    line-height: 30px;
  }*/
}