/* import all other scss sheets */
@import '_fonts';
@import 'landing_page';
@import 'itinerary_page';


/* projet wide style rules */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: $background-colour;
}

.hidden {
  display: none;
}

.front-content {
  margin: 0 20px;
}

.front-banner {
  &__image {
    display: block;
    max-width: 500px;
    margin: 10vh auto;
    
    @media (max-height: $mobile-h) {
      margin: 5vh auto;
    }
  }
}