/* import all other scss sheets */
@import '_fonts';
@import '_landing';
@import '_itinerary';
@import '_modal';
@import '_venue';

/* projet wide style rules */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

::selection {
  color: $background-colour;
  background: $primary-colour;
}

::-moz-selection {
  color: $background-colour;
  background: $primary-colour;
}

body {
  background-color: $background-colour;
}

.hidden {
  display: none;
}

.front-content {
  margin: 0 20px;
  
  @media screen and (max-width: $mobile-w) {
    margin: 0 10px;
  }
}

.front-banner {
  position: relative;
  
  h2 {
    color: $primary-colour;
    margin: 5px -10px;
  }
  
  &__image {
    display: block;
    max-width: 500px;
    margin: 10vh auto;
    
    @media (max-height: $mobile-h) {
      margin: 5vh auto;
    }
    
    @media screen and (max-width: $mobile-w) {
      margin: 5vh auto;
    }
  }
}